pkgbase = hcc-bin
	pkgdesc = Hyprland Control Center — Install and manage Hyprland desktops
	pkgver = 0.9.2
	pkgrel = 2
	url = https://github.com/laosifu/Hyprland-Control-Center
	install = hcc.install
	arch = any
	license = GPL-3.0-only
	depends = bash
	depends = git
	depends = curl
	depends = sudo
	optdepends = python: TOML config parser (faster than pure-bash)
	optdepends = yay: AUR package installation
	optdepends = paru: AUR package installation
	provides = hcc
	conflicts = hcc-git
	source = https://github.com/laosifu/Hyprland-Control-Center/archive/v0.9.2.tar.gz
	sha256sums = 30b42a0aca3b8de8000738ab8d5fad49b64b5ea1da21dc7b5adba937d144cc57

pkgname = hcc-bin
